<html>
<meta>
<title>Trang chủ
</title>
<div id="div_info_5" class="infoDiv">
  <div id="close_btn_5" class="closebtn"></div>
  <div class="tool">
    <div id="vn_5" class="btntool VN"></div>
    <div id="cham_5" class="btntool Cham"></div>
    <div id= "sound_5" class="btntool Voice"></div>

  </div>
  <div class="title vnese">CHIM THẦN GARADA</div>
  <div class="title chamese">c`[ g\n@H gr~d</div>
  <div class="item overflow-visible">
    <div class="col " >

      <div class="infoImage">
        <img width="90%" src="../assets/images/image-products/2.png" alt="5" >
      </div>
      <div class="gt vnese text_gt">
        <ul>
          <li>Chất liệu: Đá</li>
          <li>Niên đại: Thế kỉ 13</li>
          <li>Địa điểm: Tháp Mẫm</li>

        </ul>
      </div>
      <div class="gt chamese text_gtcham">
        <ul>
          <li>ZP m/: bt</li>
          <li>E~N: as~mN 13</li>
          <li>lbK: b-mU<span style="font-family: Roboto; font-size:14px;">Mẫm.</span> </li>

        </ul>
      </div>

      <div id="btn_Xem3D_5" class="btnXem3D">
        <div class="vnese tenbtn">Trải nghiệm 3D</div>
        <div class="chamese tenbtn ch">g*$ pS/ <span style="font-family: Roboto; font-size:14px;">3D</span></div>
      </div>

    </div>
    <div class="col text1 vnese">

      <div class="tomtat">
        <dl>
          <!--<dd><div class="nghieng"> Mô tả:</div></dd>-->
          <dd><div class="text_nd">
            Garuda là chim thần, vật cưỡi của thần Vishnu. Garuda là con trai của Kasyapa và Vinata. Khi mới sinh ra, Garuda sáng rực tuyệt vời khiến người ta tôn thờ. Với đôi cánh đỏ rực, chim thần có thể giết chết những kẻ xấu. Khi Garuda bay vút lên bầu trời, nó là biểu tượng của tinh thần con người. Vì vậy, Garuda cũng biểu trưng cho con người thông thái.<br><br>

            Phù điêu chim thần Garuda thể hiện Garuda nhìn chính diện, có đầu người và mình chim. Đầu chim thần đội mũ lớn, mắt lồi dữ tợn. Hai tay mỗi bên nắm một con rắn Naga. Thần có thân hình vạm vỡ, ngực nở, cổ đeo vòng trang sức.</div>
          </dd>

        </dl>
      </div>
    </div>
    <div class="col text1 chamese">

      <div class="tomtat">
        <dl>

          <div class="text_ndcham"></div>

						</dl>
					</div>
				</div>

			</div>



		</div>
</html>
